<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity
    Name="62d8d150-0a3b-49fe-a3a6-0ca256cd0333"
    Version="1.0.0.0"
    Publisher="CN=Admin" />

  <Properties>
    <DisplayName>Ultimate-Meme-Generator</DisplayName>
    <PublisherDisplayName>Admin</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application 
      Id="App"
      StartPage="default.html">

      <VisualElements
        DisplayName="Ultimate-Meme-Generator"
        Logo="images\logo.png"
        SmallLogo="images\smalllogo.png"
        Description="Ultimate-Meme-Generator"
        ForegroundText="light"
        BackgroundColor="#464646">

        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" />

      </VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>

</Package>
