<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="38525kywe665.UltimateMemeGenerator" Version="1.0.0.2" Publisher="CN=4BC9C5F4-83FC-40C8-B555-D00D50E53615" />
  <Properties>
    <DisplayName>Ultimate Meme Generator</DisplayName>
    <PublisherDisplayName>kywe665</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Ultimate Meme Generator" Logo="images\mainLogo.png" SmallLogo="images\mainLogoSmall.png" Description="Ultimate-Meme-Generator" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" WideLogo="images\mainLogoLarge.png" ShortName="MemeGen" />
        <SplashScreen Image="images\splash.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="picturesLibrary" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>